/* ===================================CSS Variables====================================== */
:root{
    --hot__red: #FF4655;
    --plain__white: #FFFFFF;
    --light__gray: #DDDDDD;
    --page__black: #121212;
    --dark__grey: #212121;
    --light__black: #191919;
    --border__grey: #666666;
    --icon__black: #212529;


    --barlow__font: "Barlow Condensed", system-ui;;
    --oswald__font: "Oswald", system-ui;
}
/* ===================================CSS Variables====================================== */

/* ===================================Common CSS====================================== */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
section {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: center;
}

.container {
    width: 1320px;
    margin: auto;
}
/* ===================================Common CSS====================================== */

/* ===================================Navbar CSS====================================== */
#navbar{
    padding: 25px 0px;
    width: 1920px;
    margin: 0 auto;
}
.navbar__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo{
    position: relative;
}
.navbar__logo .hancok{
    color: var(--plain__white);
    font-family: var(--barlow__font);
    font-weight: 700;
    font-size: 35px;
    line-height: auto;
}
.navbar__logo .hancok::after {
    position: absolute;
    content: '';
    bottom: 6px;
    right: -20px;
    height: 9px;
    width: 9px;
    background-color: var(--hot__red,pink);
    border-radius: 50%;
    z-index: 2;
}
.navbar__menu{
    position: relative;
    left: -225px;
}
.navbar__menu .menu__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.navbar__menu .menu__items li{
    color: var(--light__gray);
    font-family: var(--oswald__font);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.navbar__menu .menu__items li:hover{
    background-color: #FF4655;
    padding: 5px 10px;
    border-radius: 20px;
}
.navbar__right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 25px;
}
.navbar__right .sign__in{
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.navbar__right .sign__in .signIn__text{
    color: var(--plain__white);
    font-family: var(--oswald__font);
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s ease-in-out;
}
.navbar__right .sign__in .signIn__text:hover{
    font-size: 24px;
    color: var(--hot__red);
}
.hover--change{
    transition: 0.3s ease-in-out;
    color: var(--plain__white);
    cursor: pointer;
}
.hover--change:hover{
    font-size: 30px;
    color: #FF4655;
}
/* ===================================Navbar CSS====================================== */

/* ===================================Banner CSS====================================== */
#banner {
    width: 1920px;
    margin: 0 auto;
}
.banner__image{
    position: absolute;
    top: 0;
    z-index: -1;
}
.banner__image img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.banner__text{
    max-width: 611px;
    display: flex;
    flex-direction: column;
    margin-top: 270px;
}
.banner__text .bannerText__first{
    font-family: var(--oswald__font);
    font-size: 27px;
    font-weight: 400;
    color: var(--plain__white);
}
.banner__text .bannerText__title{
    font-family: var(--oswald__font);
    font-size: 60px;
    font-weight: 600;
    color: var(--plain__white);
}
.bannerText__title .underline{
    font-weight: 100;
}
.banner__text .bannerText__description{
    max-width: 521px;
    font-family: var(--oswald__font);
    font-size: 16px;
    font-weight: 400;
    color: var(--plain__white);
}
.bannerText__btn{
    width: 128px;
    height: 50px;
    font-family: var(--oswald__font);
    font-size: 16px;
    font-weight: 400;
    color: var(--page__black);
    margin-top: 48px;
    background-color: var(--plain__white);
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.bannerText__btn:hover{
    background-color: var(--hot__red);
    color: var(--plain__white);
}
.bannerText__btn:hover i{
    color: var(--plain__white);
}
.social__icon{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 300px;
}
.social__icon i{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #D9d9d9;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.social__icon i:hover{
    background-color: var(--hot__red);
    color: var(--plain__white);
}
/* ===================================Banner CSS====================================== */



