/* ===================================CSS Variables====================================== */
:root{
    --hot__red: #FF4655;
    --plain__white: #FFFFFF;
    --light__gray: #DDDDDD;
    --page__black: #121212;
    --dark__grey: #212121;
    --light__black: #191919;
    --border__grey: #666666;
    --icon__black: #212529;


    --barlow__font: "Barlow Condensed", system-ui;;
    --oswald__font: "Oswald", system-ui;
}
/* ===================================CSS Variables====================================== */

/* ===================================Common CSS====================================== */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
section {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: center;
}

.container {
    width: 1320px;
    margin: auto;
}
/* ===================================Common CSS====================================== */

/* ===================================Navbar CSS====================================== */
#navbar{
    padding: 25px;
}
.navbar__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo{
    position: relative;
}
.navbar__logo .hancok{
    color: var(--plain__white);
    font-family: var(--barlow__font);
    font-weight: 700;
    font-size: 35px;
}
.navbar__logo .hancok::after {
    position: absolute;
    content: '';
    bottom: 6px;
    right: -20px;
    height: 9px;
    width: 9px;
    background-color: var(--hot__red,pink);
    border-radius: 50%;
    z-index: 2;
}
.navbar__menu{
    position: relative;
    left: -225px;
}
.navbar__menu .menu__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.navbar__menu .menu__items li{
    color: var(--light__gray);
    font-family: var(--oswald__font);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.navbar__menu .menu__items li:hover{
    background-color: #FF4655;
    padding: 5px 10px;
    border-radius: 20px;
}
.navbar__right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 25px;
}
.navbar__right .sign__in{
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.navbar__right .sign__in .signIn__text{
    color: var(--plain__white);
    font-family: var(--oswald__font);
    font-size: 16px;
    font-weight: 400;
}
.globe__icon, .search__icon{
    cursor: pointer;
}








/* ===================================Navbar CSS====================================== */


/* ===================================Banner CSS====================================== */
#banner {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
}
.banner__image{
    position: absolute;
    top: 0;
    z-index: -1;
}

.banner__image img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
/* ===================================Banner CSS====================================== */



